<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/search_engine?serverTimezone=Europe/Moscow</property>
        <property name="connection.username">se_user</property>
        <property name="connection.password">testtest1234</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">10</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
<!--&lt;!&ndash;        insert batch size&ndash;&gt;-->
<!--        <property name="hibernate.jdbc.batch_size">500</property>-->
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="model.Page"></mapping>
        <mapping class="model.Lemma"></mapping>
        <mapping class="model.Index"></mapping>

    </session-factory>
</hibernate-configuration>